<div class="col-12 md:col-12 lg:col-12"
    style="padding: 4.2rem 1rem;background: linear-gradient(#C2C0A6, #53736A);height: 100vh;">
    <p-messages [(value)]="responseMsg" [enableService]="false"
    [hideTransitionOptions]="'500ms cubic-bezier(0.86, 0, 0.076, 1)'"></p-messages>
    <div class="grid p-fluid to-center">
        <div class="col-11 md:col-10 lg:col-6 bdr-box-light-blue" style="background: white; border-radius: 10px;">
            <div class="col-12 md:col-12 lg:col-12 login-title hdr-shdw-btm">
                <div class="col-12 md:col-12 lg:col-12">Login</div>
            </div>
                <div class="col-12 md:col-12 lg:col-12"></div>
                <div class="col-12 md:col-12 lg:col-12 to-center">
                    <!--Employee Id-->
                    <div class="col-12 md:col-12 lg:col-6">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText [(ngModel)]="email">
                            <label for="float-input">Email:</label>
                        </span>
                    </div>
                    <!--Employee Id end-->
                </div>
                <div class="col-12 md:col-12 lg:col-12 to-center">
                    <div class="col-12 md:col-12 lg:col-6 ">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText [(ngModel)]="pw">
                            <label for="float-input">Password:</label>
                        </span>
                    </div>
                </div>
            <div class="to-center">
                <div class="col-6 md:col-4 lg:col-4 ">
                    <button pButton type="button" class="p-button-raised p-button-rounded " label="LOGIN"
                    (click)="onSubmit()" [disabled]="(!email|| !pw)"></button>
                    <h4 style="text-align:center;"><a style="color: #53736A" href="">Forget Password</a></h4>
                    <h4 style="color:black;text-align: center;">Don't have an account?<a style="color: #53736A;"
                            href="it-register">Register</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>