<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="BrandMaster">
                <p-messages [(value)]="responseMsg" [enableService]="false"
                [hideTransitionOptions]="'500ms cubic-bezier(0.86, 0, 0.076, 1)'"></p-messages>
                <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 5px;">
                    <div #main class="col-12 md:col-12 lg:col-12">
                        <div class="grid to-center">
                            <div #row1 class="col-12 md:col-11 lg:col-11">
                                <div class="grid">
                                    <div class="col-12 md:col-4 lg:col-2">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text"  pInputText (change)="onCheck()" [(ngModel)]="brandname">
                                            <label for="float-input">Brand</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-3" style="margin-top: 23px;">
                                        <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType"
                                            required>
                                        </p-radioButton>&nbsp;
                                        <p-radioButton name="Flag" label="INACTIVE" value=0 [(ngModel)]="selectedType"
                                            required>
                                        </p-radioButton>
                                    </div>
                                </div>
                            </div>
                            <div #row2 class="col-12 md:col-11 lg:col-11 txt-to-center no-padding">
                                <button pButton name="save" type="button" label="Submit" icon="pi pi-save"
                                    (click)="onSignIn()"></button>&nbsp;
                                <button pButton type="button" label="View" icon="pi pi-eye"></button>&nbsp;
                                <button pButton type="button" label="Clear" icon="pi pi-trash"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-panel>

        </div>
    </div>
</div>
<p-table [paginator]="true" [columns]="cols" [value]="data" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
    responsiveLayout="scroll" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>S.No</th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>
                Edit/Update
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
        <tr>
            <td class="td-border" style="text-align: right;">
                <span class="p-column-title">
                    S.No :
                </span>
                <span style="text-align: end;">
                    {{rowIndex+1}}
                </span>
            </td>
            <td *ngFor="let col of columns" [style.text-align]="col.align" class="td-border">
                <span class="p-column-title">
                    {{col.header}} :
                </span>
                <span style="text-align: end;"> {{rowData[col.field]}}
                </span>
            </td>
            <td class="td-border" style="text-align: center;">
                <span class="p-column-title">
                    Edit/Update :
                </span>
                <span><button icon="pi pi-pencil" pButton type="button" (click)="onEdit(rowData)">
                        Edit
                    </button></span>
            </td>
        </tr>
    </ng-template>
</p-table>
