<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Asset Purchased Entry">
                <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 5px;">
                    <form #f="ngForm">
                        <div #main class="col-12 md:col-12 lg:col-12">
                            <div class="grid to-center">
                                <div #row1 class="col-12 md:col-12 lg:col-12">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                 
                                            <span class="product">
                                                <label for="product"></label>
                                                <p-dropdown name="product" placeholder="Select Product"
                                                    (onClick)="onSelect('p')" [options]="productOptions"
                                                    [(ngModel)]="product"></p-dropdown>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="brand">
                                                <label for="brand"></label>
                                                <p-dropdown name="brand" placeholder="Select Brand"
                                                    (onClick)="onSelect('S')" [options]="brandOptions"
                                                    [(ngModel)]="brandname"></p-dropdown>
                                            </span>
                                        </div>
                                        <button pButton pRipple type="button" class="p-button-rounded"
                                            style="margin-top:5px;margin-bottom:5px;" (click)=toggleDisplayDiv()>Add
                                            Specification</button>
                                    </div>
                                </div>
                                <div #row2 class="col-12 md:col-11 lg:col-11 txt-to-center no-padding"
                                    [hidden]="isShowDiv">
                                    <h4>(For Example)Specification Name: Ram,Specification : 8GB</h4>
                                    <div class="col-12 md:col-12 lg:col-12">
                                        <div class="grid">
                                            <div class="col-12 md:col-4 lg:col-2">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="text" pInputText>
                                                    <label for="float-input">Specification Name</label>
                                                </span>
                                            </div>
                                            <div class="col-12 md:col-4 lg:col-2">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="text" pInputText>
                                                    <label for="float-input">Specification Type</label>
                                                </span>
                                            </div>
                                            <button pButton pRipple type="button"
                                                style="height: 25px;width: 50px;margin-top: 15px;">Add</button>
                                        </div>
                                    </div>
                                    <button pButton name="save" type="button" label="Submit"
                                        icon="pi pi-save"></button>&nbsp;
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </p-panel>
        </div>
    </div>
</div>